{% extends 'layout.html' %}

{% block content %}

  <h1>{{ album.name }}</h1>
  <p>{{ album.description }} </p>
  
  <form enctype="multipart/form-data" class="form-horizontal album-form-grup" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-9">
        {{ form.as_p }} 
      </div>
      <div class="col-sm-3">
        <button class="btn btn-primary btn-block ajust-button" type="submit">
          Post
        </button>
      </div>
    </div>
  </form>

  <div class="albums row">
  {% for photo in photos %}
    <div class="media reset col-md-4">
      {% if photo.photo_path %}
      	<img src="{{ photo.photo_path.url }}" class="album-photo-big">
      {% endif %}
	  <p class="photo-desc"> {{ photo.description }} </p>
    </div>
  {% endfor %}
  
  </div>

{% endblock %}