{% extends 'layout.html' %}
{% block content %}
<form method='POST' enctype="multipart/form-data">
	<div class="form-group">
	  <div class="col-sm-9">
	  	{% csrf_token %}
	    {{ form.as_table }}
	    {% if post.photo %}
		    <tr>
			   <th></th>
			   <td>
			      <img width="80px" src="{{ post.photo.url }}"/>
			   </td>
			</tr>
		{% endif %}
	  </div>
	  <div class="col-sm-3">
	    <button class="btn btn-primary btn-block" type="submit">
	      Edit
	    </button>
	  </div>
	</div>
</form>
{% endblock %}