{% extends 'layout.html' %}

{% block content %}
  <h1>News feed</h1>
  <form enctype="multipart/form-data" class="form-horizontal" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-9">
        {{ form.as_table }}
      </div>
      <div class="col-sm-3">
        <button class="btn btn-primary btn-block" type="submit">
          Post
        </button>
      </div>
    </div>
  </form>

  <div class="posts">
  {% for post in posts %}
    <div class="media">
      <a class="media-left" href="#">
        <img src="{{ post.author.profile.avatar_url }}">
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="{% url 'post_details' post.pk %}">
            {{ post.text}}
          </a>
         
          <br>
          {% if post.photo %}
            <img width="100px" src="{{ post.photo.url }}"/>
          {% endif %}
        </h4>
        <a href="{% url 'profile' post.author.username %}">
            <b><small>{{ post.author.username }}</small></b></a>
        on <b><small>{{ post.date_added }}</small></b> <br />
        
        <a href="{% url 'edit_post' post.pk %}"> Edit </a>

        on <b><small>{{ post.date_added }}</small></b>
        <br><a class="btn btn-primary btn-like" href="{% url 'like_index' post.pk %}">Like</a>

        {% if post.likers.count %}
        Who likes this:
          {% for liker in post.likers.all %}
           {{ liker.first_name }}
           {{ liker.last_name }}
           {% if not forloop.last %}
             ,
           {% endif %}
          {% endfor %}
        {% endif %}
        <br><a class="btn btn-primary btn-like" href="{% url 'share_index' post.pk %}">Share</a>
              
        {% if post.shares.count %}
        Who share this:
          {% for share in post.shares.all %}
           {{ share.first_name }}
           {{ share.last_name }}
           {% if not forloop.last %}
             ,
           {% endif %}
          {% endfor %}
        {% endif %}

      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
