{% extends 'layout.html' %}

{% block content %}
  <h1>Profile</h1>
  <div class="row">
    <div class="col-md-2">
      <img class="avatar" src="{{ profile.avatar_url }}"/>
    </div>
    <div class="col-md-4 caseta">
      <h3>{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>
      <p>Birthday: {{ profile.date_of_birth }}</p>
      <p>Gender: {{ profile.gender }}</p>
    </div>
  </div>

  {% if user == profile.user %}
    <a href="{% url 'edit_profile' profile.user.username %}">Edit</a> | 
    <a href="{% url 'albums' profile.user.username %}"> Add new album </a>
  {% endif %}

  <div class="row">
    <div id="Albums" class="col-md-6">
      <div class="albums row">
        {% for album in albums %}
          <a href="#">
          <div class="media reset col-md-4">
          {% for p in photos.values %}
            <img src="{{p.photo_path.url}}">
          {% endfor %}
          <h4> {{album.name}}</h4>
           <p>{{album.description}}</p>
          </div>
          </a>
          {% endfor %}
      </div>
    </div>
    <div id="Shares" class="col-md-6">
      
    </div>
  </div>

{% endblock %}
